<body class="admin posts">
<style>
#admin pre.content {
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    max-height:100px;
    overflow: hidden;
    border: #D4D4D4 1px solid;
    cursor: pointer;
    box-shadow: 0px -36px 35px -39px #323232 inset;
}
#admin pre.max-height {
   max-height: 800px;
   overflow: auto;
}
.delete-ico {
    color: red;
    cursor: pointer;
}
.right {
    float: right;
}
</style>
  <div id="admin">
    <ul style="list-style-type: none; padding-bottom: 60px;">
      {{#apis}}
        <li json-src="/api/{{.}}" >
	  <p> ../apis/{{.}}<span class="delete-ico right" delete-url="{{base_url}}/api/{{.}}">X</span></p>
	  <pre class="content">

	  </pre>
        </li>
      {{/apis}}
    </ul>

      <div id="publish-bar-hover">
        <div id="publish-bar">
          <div class="contain">
            <div class="left">
              <a href="{{base_url}}/">&laquo; Admin</a>
            </div>
<div class="right"><form accept-charset="UTF-8" action="{{base_url}}/apis/upload" enctype="multipart/form-data" method="post">
      <input name="file" type="file" />
      <input type="submit" value="Upload" />
    </form></div>
          </div>
        </div>
      </div>
  </div>
</body>
<script type="application/javascript">
  $(function () {
    $(".delete-ico").on('click', function(){
      if (confirm("Etes-vous sûr de vouloir supprimer ce fichier ?"))
        $.ajax({
	  method: 'DELETE', 
	  url: $(this).attr('delete-url'),
  	  success: function(){location.reload()}
        });

    });

    $("#admin li").each(function(){
      var $this = $(this);
      $.getJSON($this.attr('json-src'),function(data, textStatus, jqXHR){
        $this.find('pre.content')[0].innerHTML = JSON.stringify(data, null, 4);
      });

      var elem = $this.find('pre.content');

      elem.on('mousedown', function (evt) {
        elem.on('mouseup mousemove', function handler(evt) {
          if (evt.type === 'mouseup') {
             $(this).toggleClass('max-height');
          }
          elem.off('mouseup mousemove', handler);
        });
      });
    });
  });
</script>
